<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67854632651-meurl5r09e2tmg5q38rgaup25lbodr94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67854632651-meurl5r09e2tmg5q38rgaup25lbodr94</string>
	<key>API_KEY</key>
	<string>AIzaSyCaORSmYiIFEMStKhF_3dX-MdokyJ_1pVw</string>
	<key>GCM_SENDER_ID</key>
	<string>67854632651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antep.harpgunlugu</string>
	<key>PROJECT_ID</key>
	<string>antepsavunmasiharpgunlugu</string>
	<key>STORAGE_BUCKET</key>
	<string>antepsavunmasiharpgunlugu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67854632651:ios:47e7577e320a0b46b4fd4e</string>
</dict>
</plist>